[mysqld]
datadir=/var/lib/mysql
default-time-zone='+9:00'
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
character-set-server=utf8mb4
default-storage-engine=InnoDB
[mysqld_safe]
timezone=UTC
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
[client]
default-character-set=utf8mb4

